  /* navigation bar */
  .navbar{
    margin: auto;
    max-width: 100%;
    }
    
   
 .logo{
     height:5vh;
     width: auto;

    }

    /* home page css */
/*Carousel Image Slider */

.carousel-item {
    height: 75vh;
    display: flex !important;
    justify-content: center center;
    align-items: center;
    overflow: hidden;
    transition: -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
    transition: transform .1s ease-in-out,-webkit-transform .3s ease-in-out;
}

 .carousel-item img{
    flex-shrink: 0;
    min-width: 100%;
}


.carousel-caption
{
    font-size: 30px;
    font-family:"Parisienne" ;
}
/*kk*/
.container-fluid{
    padding-top: 10px;
}



/* feedback */
.text-center {
    text-align: center!important;
}
.FEEDBACKS{
  
    background:linear-gradient(to bottom, rgba(116, 115, 115, 0.8), rgb(0, 0, 0)), url('../image/Homepage/feedbacks.jpg');
    background-size: cover;
    background-position:center center ;
    width: auto;
}


.hero-background {
    background: url(../image/imgSlider/img2.jpg);
    height: 75vh;
    width: auto;
    background-size: cover;
    background-attachment: fixed;
    z-index: -200; ;
    background-position: center;
}


.header2{
padding-top: 3vh;
padding-bottom: 3vh;
}
 
/* para and sub text */

.p1{
    color: #7a7a7a;
    font-style: italic;
    font-size: 0.9em;
    margin-top: 1rem;
}
.p{
    color: black;
    font-style: normal;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
  }

* Start responsive css */

.col-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.col-padding-pkg {
    padding-left: 10px;
    padding-right: 10px;
}



/* tour packages css */
.h3{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

}

.p3{
font-size: 0.80em;
color: #343434;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
}

.shadow-sm{
height: 100%;
overflow: hidden;
  }

   

     /* CREW PAGE CSS */
  
  
    
     .crew-page{
        background:url(../image/9arch.jpg) ;
        background-size: cover;
      background-position:center center ;
      background-attachment: fixed;
      height: 120vh;
      width: auto;
      }
      .crewbcg{
        background-color: rgba(78, 78, 78, 0.555);
         color:black;
          padding-top:3vh;
           padding-bottom:6vh;
      } 

      .p4{
        color: #7a7a7a;
        font-style: normal;
        font-size: 0.9em;
        margin-top: 0px;
        margin-bottom: 3rem;
      }  


/* Comment text */
.crew-hd{
    color:  #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
 .h4{
color: #ffffff;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: inherit;
}


.p5{
  color: #ffffff; 
  font-style:normal;
   font-size: 0.9em;
} 
.p6{
color: #ffffff;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p8{
    color: #646464; 
    font-style:italic; 
    font-size: 0.9em;
}
.p9{
    color: #000000;
}
.p9 span{
    font-weight:bold;
}
 /* comment card styles */


      .comment-card {
        margin-top: 15px;
        background-color: #000000ad;
    }
    
    .comment-img-div {
        position: relative;
        padding: 10px 15px 5px;
    }
    
    .comment-img {
        background-size: cover;
        background-position: center;
        width: 100px;
        height: 100px;
        border-radius: 85px;
        border-top-left-radius: 0px; 
        border-bottom-left-radius: 0px; 
        border-top-right-radius: 35px; 
        border-bottom-right-radius: 35px; 
        border: 5px transparent;
    }
    
    .comment-img-m {
        margin: 0px auto;
        margin: 0px;
         display: table;
    }
    
    .comment-text-div {
        min-height: 120px;
        max-height: 120px;
        overflow: hidden;
        padding-top: 5px;
        padding-left: 25px;
        padding: 5px 25px;
        margin: 5px 0px;
        background-color: #000000ad;
        color: burlywood;
        padding-right: 15px;
        padding: 5px; 
    }
    
    .comment-text-div-m-l {
        padding-left: 15px;
    }
    
    .comment-text {
        display: -webkit-box;
        max-width: 100%;
        height: 78px;
        margin: 5px auto;
        margin-top: 0px;
        font-size: 16px;
        line-height: 1.2;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .comment-text-footer {
        color:transparent;
        border-top: 2px dotted #6d6d6c;
    }
    

    .foterimg-flow{
        background-image:url(../image/corporate_info.jpg);
         background-size: cover; 
         background-repeat:no-repeat;
          background-position: right bottom;
           background-attachment: fixed;
      width: auto;
     height: 50vh;
    }
    
    /* footer styling */
    
    .footer{
        background-color: #343434;
    }


    .h7{
font-style: initial;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 2em;
color: white;
    }
.h8{
    font-family: 'Acme', sans-serif; 
    font-size: 1.2em; 
    color: white;
}
    .p7{
        font-style: normal;
        color: white;
        font-size: 0.8em;
    }

    .map{
        width:100%;
         height: 30vh;
          border: 4px solid #ffffff;
    }
.Copyright{
    color:white; 
    font-size:0.8em;
    background-color: black;
}


/* social media icons top */
.fa {
    padding: 10px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-tripadvisor{
    background:#00af87;
    color: white;
    text-align: center;
}


.customer-feedback-card {
    background-color: #0000007d;
    border-radius: 5px;
    display: flex;
}

.customer-feedback-card .customer-feedback-image {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ffff;
    width: 120px;
    height: 120px;
}

.customer-feedback-card .customer-feedback-image img {
    width: 100%;
    height: auto;
}

.customer-feedback-content {
    text-align: left;
    padding: 15px;
    background-color: #00000075;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.customer-feedback-content p{
    font-size: 15px;
    color: #ffca93;
}

.customer-feedback-content span{
    color: #dadada;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}

/* special tour pacakage */

.tour-pacakage-card{
    height: 100%;
    overflow: hidden;
    border-radius: 5px !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ecf1f7!important;
    padding: 15px;
    
}
d .tour-pacakage-card .tour-pacakage-img img{
    width: 100%;
    height: auto;
    }
.map{
    width: auto;
    height: auto;
    border: 0px;
}
.map img{
    height: auto;
    width: 100%;
}
.map-section{
    background-color: rgb(206 237 251);
}
.tripadvisors{
    width:100%;height:100%;border:none;
}
.tripadvisors .tripadvisors-frame{
    width:100%;height:100%;border:none;
}

/* testimonial */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


.testo{
	float: left;
	position: relative;
	padding: 30px 0;
	background: #fcfcfd;
	z-index: 1;
	width: 100%;
}
.section-title{
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 40px; 
}
.section-title p{
	color: #7d93b2;
	font-size: 13px;
	line-height: 20px;
	max-width: 550px;
	margin: 0 auto;
}
.section-title h2 {
	float: left;
	width: 100%;
	text-align: center;
	color:#212529;;
	font-size: 34px;
	font-weight: 800;
	position: relative;
}


.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 50%;
	width: 65px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: #28a745;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	right: 0px;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
	left: 0px;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: -15px;
	background: rgba(6,27,65,0.4);
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: -15px;
	background: rgba(6,27,65,0.4);
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #f5f6fa;
	border:1ps solid #f1f1f1;
	border-radius: 10px;
	transition: all .3s ease-in-out;
    text-align: center;
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}
.testimonials-text .listing-rating{
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}
.listing-rating i{
	color: #28a745;
    /* text-align: center; */
}
.testimonials-avatar h3{
	font-weight: 600;
	color: #7d93b2;
	font-size: 18px;
}
.testimonials-avatar h4{
	 font-weight:400;
	 font-size:12px;
	 padding-top:6px;
	 color:#007aff;
}
.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}	 
.testi-avatar{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 20;
}
.testi-avatar img{
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border:6px solid #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.swiper-slide-active .testimonials-text {
	background: #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.testimonials-text p{
	color: #878c9f;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}
.text-link{
	position: absolute;
	bottom:0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: #f9f9f9;
	border:1px solid #eee;
	box-shadow: 0 10px 15px rgba(0,0,0,0.03);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
	float: left;
	margin-top: 10px;
	width: 100% !important;
    text-align: center;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: #384f95;
	margin:0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}
.embed-responsive{
    height: 78vh;
    width: 100%;
}

.bacgroundimage {
   background-color:rgb(0, 0, 0) ; 
   background-image: url(../image/contact\ us.jpg);
   height: 85vh;
   width: auto;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;

}