  /* navigation bar */
  .navbar{
    margin: auto;
    max-width: 100%;
    }
    
   
 .logo{
     height:5vh;
     width: auto;

    }

    /* home page css */
/*Carousel Image Slider */

.carousel-item {
    height: 75vh;
    display: flex !important;
    justify-content: center center;
    align-items: center;
    overflow: hidden;
}

 .carousel-item img{
    flex-shrink: 0;
    min-width: 100%;
}


.carousel-caption
{
    font-size: 30px;
    font-family:"Parisienne" ;
}
/*kk*/
.container-fluid{
    padding-top: 10px;
}

.tour-package-car-img6{
    background-image: url(../image/Homepage/adventure.jpg);
    background-size: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 15vh;
}
.tour-package-car-img7{
background-image: url(../image/Homepage/history.jpg);
background-size: 100% auto;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
height: 15vh;
}
.tour-package-car-img8{
    background-image: url(../image/Homepage/honeymoon.jpg);
    background-size: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 15vh;
}
.tour-package-car-img9{
    background-image: url(../image/Homepage/beach.jpg);
    background-size: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 15vh;
}
    .tour-package-car-img10{
        background-image: url(../image/Homepage/wild_life.jpg);
        background-size: 100% auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 15vh;
    }
    .tour-package-car-img11{
        background-image: url(../image/Homepage/hiking.jpg);
        background-size: 100% auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 15vh;
    }
    .tour-package-car-img12{
        background-image: url(../image/Homepage/safari.jpg);
        background-size: 100% auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 15vh;
    }

    .tour-package-car-img13{
        background-image: url(../image/Homepage/ramayana.jpg);
        background-size: 100% auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 15vh;
    }
    .tour-package-car-img14{
        background-image: url(../image/Homepage/buddhist_pilgrimage.jpg);
        background-size: 100% auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 15vh;
    }
/* feedback */
.text-center {
    text-align: center!important;
}
.FEEDBACKS{
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.747), rgba(163, 163, 163, 0.281)), url('../image/Homepage/feedbacks.jpg');
    background-size: cover;
    background-position:center center ;
    background-attachment: fixed;
    height: 100vh;
    width: auto;
}

/* map */
 /* .map-img{
    background-image: url(../image/Homepage/SrilankaMap.jpg);
 } */

/* about page */
/* header and background image */

.hero-background {
    background: url(../image/imgSlider/img2.jpg);
    height: 75vh;
    width: auto;
    background-size: cover;
    background-attachment: fixed;
    z-index: -200; ;
    background-position: center;
}


.header2{
padding-top: 3vh;
padding-bottom: 3vh;
}
 
/* para and sub text */

.p1{
    color: #7a7a7a;
    font-style: italic;
    font-size: 0.9em;
    margin-top: 1rem;
}
.p{
    color: black;
    font-style: normal;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
  }

* Start responsive css */

.col-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.col-padding-pkg {
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 840px){
    .menu-comp-name {
        font-size: 1.25em;
    }
    .menu-item-text {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 700px){
    .menu-comp-name {
        font-size: 1em;
    }
    .menu-item-text {
        font-size: 0.65em;
    }
}

/* feed back */

@media screen and (min-width: 992px) {
    /* .feed-b-3-1, .feed-b-3-3{
        margin: 0% 6.25%;
    } */

    .feed-b-2-1{
        margin: 0% 2.777778% 0% 5.555556%;
    }
    .feed-b-2-2{
        margin: 0% 5.555556% 0% 2.777778%;
    }

    .package-3-1, .package-3-3 {
        margin: 0% 6.25%;
    }

    .map-social-3-1, .map-social-3-3 {
        margin: 0% 6.25%;
    }

    .comment-img-m {
        margin: 0px auto;
        /* margin: 0px; */
    }
}

@media screen and (max-width:991px) and (min-width: 768px) {
    .feed-b-2-1{
        margin: 0% 2.777778% 0% 5.555556%;
    }
    .feed-b-2-2{
        margin: 0% 5.555556% 0% 2.777778%;
    }

    .package-3-1, .package-3-3 {
        margin: 0% 2.5%;
    }
  }

/* tour packages css */
.h3{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

}

.p3{
font-size: 0.80em;
color: #343434;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
}

.shadow-sm{
height: 100%;
overflow: hidden;
  }

    .tour-package-car-img1 {
      background-image: url(../image/planning_tours.jpg);
      background-size: 100% auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 15vh;
    }
    .tour-package-car-img2 {
      background-image: url(../image/transport_services.jpg);
      background-size: 100% auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 15vh;
    }
    .tour-package-car-img3 {
      background-image: url(../image/reservations.jpg);
      background-size: 100% auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 15vh;
    }
    .tour-package-car-img4 {
      background-image: url(../image/consultancy.jpg);
      background-size: 100% auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 15vh;
    }
    .tour-package-car-img5 {
      background-image: url(../image/ayurveda.jpg);
      background-size: 100% auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 15vh;
    }
     /* CREW PAGE CSS
  
  
    
     .crew-page{
        background:url(../image/9arch.jpg) ;
        background-size: cover;
      background-position:center center ;
      background-attachment: fixed;
      height: 120vh;
      width: auto;
      }
      .crewbcg{
        background-color: rgba(78, 78, 78, 0.555);
         color:black;
          padding-top:3vh;
           padding-bottom:6vh;
      } 

      .p4{
        color: #7a7a7a;
        font-style: normal;
        font-size: 0.9em;
        margin-top: 0px;
        margin-bottom: 3rem;
      }  */


/* Comment text
.crew-hd{
    color:  #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.h4{
color: #ffffff;
}

.p5{
  color: #ffffff; 
  font-style:normal;
   font-size: 0.9em;
}
.p6{
color: #ffffff;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h4{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: inherit;

} */

 /* comment card styles */


      .comment-card {
        margin-top: 15px;
        background-color: #000000ad;
    }
    
    .comment-img-div {
        position: relative;
        padding: 10px 15px 5px;
    }
    
    .comment-img {
        background-size: cover;
        background-position: center;
        width: 100px;
        height: 100px;
        border-radius: 85px;
        border-top-left-radius: 0px; 
        border-bottom-left-radius: 0px; 
        border-top-right-radius: 35px; 
        border-bottom-right-radius: 35px; 
        border: 5px transparent;
    }
    
    .comment-img-m {
        margin: 0px auto;
        margin: 0px;
         display: table;
    }
    
    .comment-text-div {
        min-height: 120px;
        max-height: 120px;
        overflow: hidden;
        padding-top: 5px;
        padding-left: 25px;
        padding: 5px 25px;
        margin: 5px 0px;
        background-color: #000000ad;
        color: burlywood;
        padding-right: 15px;
        padding: 5px; 
    }
    
    .comment-text-div-m-l {
        padding-left: 15px;
    }
    
    .comment-text {
        display: -webkit-box;
        max-width: 100%;
        height: 78px;
        margin: 5px auto;
        margin-top: 0px;
        font-size: 16px;
        line-height: 1.2;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .comment-text-footer {
        color:transparent;
        border-top: 2px dotted #6d6d6c;
    }
    

    .foterimg-flow{
        background-image:url(../image/corporate_info.jpg);
         background-size: cover; 
         background-repeat:no-repeat;
          background-position: right bottom;
           background-attachment: fixed;
      width: auto;
     height: 50vh;
    }
    
    /* footer styling */
    
    .footer{
        background-color: #343434;
    }


    .h7{
font-style: initial;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 2em;
color: white;
    }
.h8{
    font-family: 'Acme', sans-serif; 
    font-size: 1.2em; 
    color: white;
}
    .p7{
        font-style: normal;
        color: white;
        font-size: 0.8em;
    }

    .map{
        width:100%;
         height: 30vh;
          border: 4px solid #ffffff;
    }
.Copyright{
    color:white; 
    font-size:0.8em;
}


/* social media icons top */
.fa {
    padding: 10px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }

.customer-feedback-card {
    background-color: #0000007d;
    border-radius: 5px;
    display: flex;
}

.customer-feedback-card .customer-feedback-image {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ffff;
    width: 120px;
    height: 120px;
}

.customer-feedback-card .customer-feedback-image img {
    width: 100%;
    height: auto;
}

.customer-feedback-content {
    text-align: left;
    padding: 15px;
    background-color: #00000075;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.customer-feedback-content p{
    font-size: 15px;
    color: #ffca93;
}

.customer-feedback-content span{
    color: #dadada;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}